.card {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto-fit, 1fr));
    grid-template-areas:
        "card card card"
        "card card card";
    grid-gap: 10px;

}

.star-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 1.7rem;
    height: 1.7rem;
    color: #ee7144;

    border: none;
    border-radius: 4px;
    letter-spacing: .3rem;
    line-height: 0;
    font-family: 'Roboto', sans-serif;


    span {
        color: rgb(1, 1, 1);

    }
}
.userInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    color: var(--purple);
    text-align: center;
}

section.repository-list {
    margin: 40px;

    h1 {
        margin-bottom: 16px;
        display: flex;
        font-size: 2rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


        justify-content: left;
        color: var(--dark-green);

    }

    strong {
        color: var(--purple);
        font-size: 1.5rem;
    }

    ul {
        list-style: none;
        background-color: var(--purple);
        padding: 10px;

    }

    li {
        background-color: var(--dark-grey);
        border-radius: 8px;
        padding: 1rem;

        &+li {


            background-color: var(--dark-grey);
        }

        p {
            font-size: 18px;
            color: var(--dark-green);
            margin-top: 8px;

        }

        a {
            display: inline-block;
            margin-top: 16px;
            text-decoration: none;
            color: var(--purple);
        }
    }
}




//responsivity

@media(max-width:1025px) {
    .card {
        grid-template-columns: repeat(3, minmax(auto-fit, 1fr));
        grid-template-areas:
            "card card "
            "card card "
            "card card";

    }

}

@media(max-width:810px) {
    .card {

        grid-template-columns: repeat(3, minmax(auto-fit, 1fr));
        grid-template-areas:
            "card "
            "card  "
            "card ";

    }

}

@media(max-width:350px) {

    section.repository-list {
        margin: 0;
        width: fit-content;
    }

    .card {
        width: 100%;

    }
}