.input-container{
  margin: 2rem 0 1rem 0;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
input::placeholder{
  color: var(--aqua);
}
.text-input{
  
  text-align: center;
   
  font-size: 30px;
  padding: 5px 10px;
  color: var(--purple); 
  margin-bottom: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--purple);
  background-color: transparent;
  text-decoration: none;
   

   
}
.text-input:focus {
  border: none;
  outline: none;
 
  border-bottom: 1px solid var(--purple);
}