footer{
    width: 100vw;
    background-color: var(--blue-700);
    height: 5rem;
    display: flex;
    color: var(--aqua);
    align-items: center;
    justify-content: center;
    text-align: center;


}
footer img{
    width: 4rem;
    height: 4rem;
    background-color: transparent;
}
danger{
    color: red;
    font-size: 1.6rem;
}