header{
    width: 100vw;
    background-color: var(--primary);
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--purple);
    


}
header img{
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid var(--purple);  
}
